<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Создать задачу</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/minty/bootstrap.min.css" />
</head>

<body>
    <div class="container mt-5">
        <h2 class="text-center">Создать задачу</h2>
        <br />
        <form method="post" action="{% url 'create_task' %}" onsubmit="return validateForm()">
            {% csrf_token %}
            <div class="form-group">
                <label for="taskName">Название:</label>
                <input type="text" class="form-control" id="taskName" name="name" placeholder="Введите название"
                    required />
            </div>
            <div class="form-group">
                <label for="taskCategory">Категория:</label>
                <select class="form-control" id="taskCategory" name="category" required>
                    <option value="">Выберите категорию</option>
                    {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="assigned_to">Пользователь:</label>
                <select class="form-control" id="assigned_to" name="assigned_to" required>
                    <option value="">Выберите пользователя</option>
                    {% for user in users %}
                    <option value="{{ user.id }}">{{ user.username }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="startDate">Дата начала:</label>
                <input type="datetime-local" class="form-control" id="startDate" name="start_date" required />
            </div>
            <div class="form-group">
                <label for="endDate">Дата завершения:</label>
                <input type="datetime-local" class="form-control" id="endDate" name="end_date" required />
            </div>
            <div class="form-group">
                <label for="priority">Приоритет:</label>
                <input type="number" class="form-control" id="priority" name="priority" min="1" value="1" required />
            </div>
            <div class="form-group">
                <label for="description">Описание:</label>
                <textarea class="form-control" id="description" name="description" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Подтвердить</button>
        </form>
    </div>

    <!-- Bootstrap JS (Optional - for certain Bootstrap features like dropdowns, modals, etc.) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        function validateForm() {
            var startDate = document.getElementById('startDate').value
            var endDate = document.getElementById('endDate').value

            if (new Date(startDate) >= new Date(endDate)) {
                alert('Дата начала должна быть после даты завершения.')
                return false
            }
            return true
        }
    </script>
</body>

</html>